<ion-view>
    <ion-pane>
        <ion-header-bar ng-class="{ 'display-none' : !showInput}" class="heigth-60px bar-stable padding-top-10px bck-blue1">
            <input id="inputFormula" type="text" placeholder="Digite la fórmula" class="input-size input-round" ng-model="formula" ng-disabled="false" autofocus>
            <a ng-click="solution(formula)">
                <i class="icon ion-log-out icon-table color-white"></i>
            </a>
        </ion-header-bar>

        <ion-content ng-class="{ 'top-55px' : showInput, 'top-0' : !showInput}" class="">
            <ion-slide-box class="bck-blue2" slide-tabs-scrollable="false" show-pager="false">
                <ion-slide  ng-repeat="met in methods" ng-if="$index%3 == 0">
                    <div class="bck-slide color-white button-bar">
                        <div class="button" style="font-size: 13px;" ng-click="selectMethod(met.name, met.sub)">{{met.name}}</div>
                        <div class="button" style="font-size: 13px;" ng-click="selectMethod(methods[$index + 1].name, methods[$index + 1].sub)">{{methods[$index + 1].name}}</div>
                        <div class="button" style="font-size: 13px;" ng-click="selectMethod(methods[$index + 2].name, methods[$index + 2].sub)">{{methods[$index + 2].name}}</div>
                    </div>
                </ion-slide>
            </ion-slide-box>
            <br>
            <ion-slide-box slide-tabs-scrollable="false" show-pager="false">
                <ion-slide>
                    <div ng-include src="resolveHTML"></div>
                </ion-slide>
                
                <ion-slide ng-if="resolveGraphics != undefined">
                    <div ng-include src="resolveGraphics"></div>
                </ion-slide>
            </ion-slide-box>
            <br>
            <div ng-include ng-show="false" src="'templates/keyboard.html'" ng-controller="keyboardCtrl"></div>
        </ion-content>
    </ion-pane>
</ion-view>






<script id="modalMethods.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bck-blue1">
            <h1 class="title color-white">Selecciona el método</h1>
        </ion-header-bar>
        <ion-content>
            <div class="list list-inset">
                <a ng-repeat="met in method_selected.sub" ng-click="openInput(met, method_selected.name)">
                    <div class="item active-result">
                        <i class="icon ion-arrow-right-b"></i> &nbsp; {{met.name}}
                    </div>
                </a>
            </div>
        </ion-content>
    </ion-modal-view>
</script>
