<ion-modal-view ng-controller="modalXYCtrl">
        <ion-header-bar class="bck-blue1">
            <h1 class="title color-white">Digite los valores de la tabla</h1>
        </ion-header-bar>
        <ion-content>
            <br>
            <table class="normal bck-blue2 color-white" summary="Tabla genérica">
                <tr>
                    <th scope="col">X</th>
                    <th scope="col">Y</th>
                </tr>
            </table>
            <table class="normal" summary="Tabla genérica" ng-repeat="num in numTable">
                <tr>
                    <th scope="row">
                        <input type="number" ng-model="num.x">
                    </th>
                    <th scope="row">
                        <input type="number" ng-model="num.y">
                    </th>
                </tr>
            </table>
            <table class="table-icon">
                <tr class="color-blue1" ;>
                    <th scope="row" class="active-button" ng-click="addRow()">
                        <i class="icon ion-ios-plus-outline"></i>
                    </th>
                    <th scope="row" class="active-button" ng-click="deleteRow()">
                        <i class="icon ion-ios-minus-outline"></i>
                    </th>
                </tr>
            </table>
            <br>
            <button class="width-90pc margin-left-5pc bck-blue1 color-white border-none padding-5px active-result" ng-click="solution(numTable)"> Resolver </button>
            <br>
            <br>
        </ion-content>
    </ion-modal-view>